.button {
    border: 1px solid $green;
    border-radius: 10px;
    color: $green;
    text-align: center;
    font-weight: 400;
    line-height: 27px;
    padding: 11px 31px;
    transition: 0.3s;

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    &__green {
        text-align: left;
        margin-left: 26px;
        color: $white;
        border: 1px solid $green;
        background-color: $green;

        &:hover {
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
            color: white;
        }
    }

    &__array {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            border-bottom: 2px solid $white;
            width: 21px;
            left: 125px;
            top: 24.5px;
        }

        &:after {
            content: '';
            position: absolute;
            border-bottom: 2px solid $white;
            border-right: 2px solid $white;
            transform: rotate(-45deg);
            height: 8px;
            width: 8px;
            left: 135px;
            top: 20.5px;
        }
    }

    &__double {
        display: flex;
        flex-direction: row;

        &-left {
            margin-right: 15px;
            flex: 1;
        }

        &-right {
            flex: 1;
            margin: auto;
            text-align: center;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            }
        }
    }
}
