.card {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    max-width: 270px;
    padding: 25px 18px;
    border-radius: 5px;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }

    &__image {
        max-width: 100%;
    }

    &__title {
        margin-top: 20px;
        font-size: 16px;
        line-height: 24px;
        font-style: italic;
        text-align: center;
    }

    &__description {
        margin-top: 5px;
        font-weight: 600;
        text-align: center;
    }

    &__price {
        margin-top: 15px;
        font-size: 24px;
        line-height: 36px;
        font-weight: 600;
        color: $green;
        text-align: center;
    }

    &__buttons {
        display: flex;

        &-button {
            margin: 15px auto 0;
            max-width: 190px;
            padding: 11px 5px;
            font-size: 14px;

            &:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            }
        }
    }
}
