.content {
    &__image {

        &-title {
            color: white;
            margin: 280px 0 0;
            line-height: 27px;
            font-size: 18px;
            font-weight: 600;
        }

        &-description {
            color: white;
            margin:20px 0 0;
            font-size: 48px;
            line-height: 72px;
            font-weight: bold;
        }

        &-button {
            color: white;
            border: 2px solid $white;
            padding: 13px 25px;
            margin: 80px 0 0;
            transition: 0.3s;
            max-width: 180px;
            font-size: 18px;
            text-align: center;

            &:hover {
                color: #9C9C42;
                border: 2px solid $green;
            }
        }

        &-img {
            position: absolute;
            left: 0;
            top: 108px;
            max-width: 100%;
            z-index: -1;
        }
    }

    &__products {
        margin-top: 200px;

        &-title {
            font-size: 36px;
            line-height: 54px;
            font-weight: bold;

            & span {
                color: $green;
            }
        }

        &-cards {
            margin-top: 60px;
            display: flex;
        }

        &-button {
            margin: 40px auto 0;
            max-width: 240px;
        }
    }
}
