.content {
    &__image {

        &-description {
            position: absolute;
            color: white;
            left: 0;
            right: 0;
            margin:80px 0 0 375px;
            font-size: 48px;
            line-height: 72px;
            font-weight: bold;
        }

        &-title {
            position: absolute;
            color: white;
            left: 0;
            right: 0;
            margin: 160px 0 0 375px;
            line-height: 27px;
            font-weight: 600;
        }

        &-button {
            position: absolute;
            color: white;
            left: 0;
            top: 0;
            border: 1px solid $white;
            padding: 13px 25px;
            margin: 340px 0 0 375px;
            transition: 0.3s;

            &:hover {
                color: #9C9C42;
                border: 1px solid $green;
            }
        }

        &-img {
            position: absolute;
            left: 0;
            top: 108px;
            max-width: 100%;
            z-index: -1;
        }
    }
}
