.product {
    margin: 100px auto 0;
    text-align: center;

    &__title {
        font-size: 36px;
        line-height: 54px;
        color: $black;
    }

    &__price {
        margin: 15px auto;

        &-bold {
            font-weight: bold;
            color: $green;
        }
    }

    &__img {
        max-width: 100%;
    }

    &__description {
        margin: 30px auto;
    }

    &__button {
        max-width: 210px;
        text-align: center;
        margin: 0 auto;
    }
}
