@import "./globals/variables";
@import "./globals/fonts";
@import "./globals/reset";
@import "./globals/main";
@import "./components/header";
@import "./components/footer";
@import "./components/button";
@import "./components/delimiter";
@import "./components/search";
@import "./components/card";
@import "./components/auth";
@import "./pages/home";
@import "./pages/products";
@import "./pages/categories";
@import "./pages/product";
@import "./pages/basket";

