body, html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $black;

    &:hover {
        color: $green;
    }
}

button {
    border: none;
    background-color: #FFF;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 0 55px;
    margin: 0 auto;
}
